<main class="index">
    <header class="masthead d-flex md-auto">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Hopark S.A.</h1>
            <h3 class="mb-5">
                <em>Un espacio para ti</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Emepecemos</a>
        </div>
    </header>
</main>